<div class="h-full overflow-auto mr-3 sidebar-scroll">
    <p-accordion [value]="['physics']" [multiple]="true" styleClass="flow-accordion">
        <p-accordion-panel [value]="'physics'">
            <p-accordion-header>
                Physics
            </p-accordion-header>
    
            <p-accordion-content>
                <table class="w-full text-sm">
                    <tbody>
                        @for (row of physicsRows(); track row.id) {
                            <tr [pTooltip]="row.description" class="align-middle">
                                <td class="pr-2 py-2">
                                    <label [for]="row.id" class="font-medium">{{ row.name }}</label>
                                </td>
                                
                                <td class="py-2">
                                    <div class="flex flex-row items-center w-full">
                                        <p-slider [(ngModel)]="row.obj[row.key]" class="w-3/4 mr-4" [min]="row.min" [max]="row.max" [step]="row.step" />
                                        <p-inputnumber [inputId]="row.id" [(ngModel)]="row.obj[row.key]" class="w-1/4" inputStyleClass="w-full" [min]="row.min" [max]="row.max" [step]="row.step"/>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p-accordion-content>
        </p-accordion-panel>
    
        <p-accordion-panel [value]="'simulation'">
            <p-accordion-header>
                Simulation
            </p-accordion-header>
    
            <p-accordion-content>
                <table class="w-full text-sm">
                    <tbody>
                        @for (row of simulationRows(); track row.id) {
                        <tr [pTooltip]="row.description">
                            <td class="pr-2 py-2">
                                <label [for]="row.id" class="font-medium">{{ row.name }}</label>
                            </td>
                
                            <td class="py-2">
                                <div class="flex flex-row items-center w-full">
                                    <p-slider [(ngModel)]="row.obj[row.key]" class="w-3/4 mr-4" [min]="row.min" [max]="row.max"
                                        [step]="row.step" />
                                    <p-inputnumber [inputId]="row.id" [(ngModel)]="row.obj[row.key]" class="w-1/4"
                                        inputStyleClass="w-full" [min]="row.min" [max]="row.max" [step]="row.step" />
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </p-accordion-content>
        </p-accordion-panel>
    
        <p-accordion-panel [value]="'interaction'">
            <p-accordion-header>
                Interaction
            </p-accordion-header>

            <p-accordion-content>
                <table class="w-full text-sm">
                    <tbody>
                        @for (row of interactionRows(); track row.id) {
                        <tr [pTooltip]="row.description">
                            <td class="pr-2 py-2">
                                <label [for]="row.id" class="font-medium">{{ row.name }}</label>
                            </td>
                
                            <td class="py-2">
                                <div class="flex flex-row items-center w-full">
                                    <p-slider [(ngModel)]="row.obj[row.key]" class="w-3/4 mr-4" [min]="row.min" [max]="row.max"
                                        [step]="row.step" />
                                    <p-inputnumber [inputId]="row.id" [(ngModel)]="row.obj[row.key]" class="w-1/4"
                                        inputStyleClass="w-full" [min]="row.min" [max]="row.max" [step]="row.step" />
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel [value]="'coloring'">
            <p-accordion-header>
                Coloring
            </p-accordion-header>

            <p-accordion-content>
                <table class="w-full text-sm">
                    <tbody>
                        @for (row of coloringColors(); track row.key) {
                        <tr [pTooltip]="row.description" class="align-middle">
                            <td class="pr-2 py-2">
                                <label class="font-medium" [for]="row.key">{{ row.name }}</label>
                            </td>

                            <td class="py-2">
                                <p-colorpicker class="border rounded-(--p-colorpicker-preview-border-radius)" [(ngModel)]="row.obj[row.key]" format="rgb" [inputId]="row.key" [appendTo]="'body'" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>